.richieste-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    color: white;
  }
  
  h2 {
    color: #2563eb;
  }
  
  .no-prenotazioni {
    font-size: 18px;
    color: #ff4747;
    font-weight: bold;
  }
  
  .prenotazioni-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .prenotazione-card {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    transition: transform 0.2s ease-in-out;
  }
  
  .prenotazione-card:hover {
    transform: scale(1.05);
  }
  
  .prenotazione-card p {
    margin: 5px 0;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-prenota-nuovo,.btn-edit,.btn-delete {
    background-color: #2563eb; /* Blu simile ai bottoni esistenti */
    margin-right: 10px; /* Aggiunge uno spazio tra i bottoni */
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-prenota-nuovo:hover, .btn-edit:hover,.btn-delete:hover{
    background-color: #1e40af;
  }
  