/* Navbar */
.navbar {
  position: fixed;  /* Fissa la NavBar */
  top: 0;
  left: 0;
  width: 100%;
  background-color: blue;  /* Colore di sfondo (modifica a piacere) */
  padding: 1rem;  /* Spaziatura interna */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Aggiunge un'ombra per evidenziare la separazione */
  z-index: 1000;  /* Garantisce che la navbar rimanga sopra gli altri contenuti */
}

/* Contenitore della navbar */
.navbar-container {
  display: flex;
  align-items: center;
}

/* Link nella navbar */
.navbar-link {
  margin-left: 15px;
}

/* Bottoni */
.navbar-button {
  background-color: #3498db; /* Colore blu per i bottoni */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 10px; /* Spazio tra i bottoni */
}

/* Hover per i bottoni */
.navbar-button:hover {
  background-color: #2980b9; /* Blu più scuro al passaggio del mouse */
  transform: scale(1.05); /* Leggera animazione di ingrandimento */
}

/* Bottoni disabilitati o non cliccabili */
.navbar-button:disabled {
  background-color: #7f8c8d; /* Colore grigio per i bottoni disabilitati */
  cursor: not-allowed;
}

/* Bottoni per il logout con un colore distintivo */
.navbar-button-logout {
  background-color: #e74c3c; /* Colore rosso per il bottone di logout */
}

.navbar-button-logout:hover {
  background-color: #c0392b; /* Rosso più scuro al passaggio del mouse */
}
